@model IEnumerable<Todo>;
@{
  ViewData["title"] = "Todo";

}


<section class=" center" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">

        <div class="card rounded-3">
          <div class="card-body p-4">

            <p class="mb-2"><span class="h2 me-2">Todos</span> <span
                class="badge bg-danger">checklist</span></p>
 <a  class="btn btn-primary btn-rounded" asp-controller="Todo" asp-action="Create">Add Todo</a>
            <ul class="list-group rounded-0">
              <table>
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Status</td>
                    <td>Date Of Creation</td>
                  </tr>
                </thead>
                <tbody>
                       @foreach (var obj in Model)
                  {

                        <tr>
                        <td>@obj.Name</td>
                        <td>@obj.Status</td>
                        <td>@obj.CreatedAt</td>
                       <td>
                          <a class="text-primary" asp-controller="Todo" asp-action="Edit" asp-route-id="@obj.Id"> Edit</a>
                       </td> 

                        <td>
                          <form>

                          <button class="text-primary" asp-controller="Todo" asp-action="Delete"   asp-route-id="@obj.Id"> Delete</button>
                          </form>
                       </td> 
                      </tr>

                  }


                </tbody>
              </table>





            </ul>

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Shared with</p>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>